.job-list-item-container {
  background-color: #272727;
  margin-bottom: 6px;
  width: 500px;
  padding: 7px;
  color: #f1f5f9;
  list-style: none;
  border-radius: 14px;
}

@media screen and (max-width: 767px) {
  .job-list-item-container {
    width: 90%;
  }
}

.link-style-container {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Roboto';
}
.top-main-container {
  display: flex;
}
.location-employment-container {
  display: flex;
}
.job-item-company-logo {
  height: 75px;
  width: 75px;
}
.middle-line-container {
  display: flex;
}
.location {
  font-size: 16px;
  font-family: 'Roboto';
  margin-right: 6px;
}
.employment-type {
  font-size: 16px;
  font-family: 'Roboto';
}

.package-per-annum {
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 5px;
  text-align: end;
}
.title {
  font-family: 'Roboto';
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 20px;
  }
}

.rating-container {
  display: flex;
  align-items: center;
}

.fa-star {
  color: gold;
  margin-right: 5px;
}
